<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<header class="header">
		<a href="javascript:;" class="toback">取消</a>
		<a href="javascript:;" class="tosure">发表</a>
	</header>
	
	<form action="" method="post">
		<input type="text" name="content_text" id="content_text" value="" placeholder="说说内容"/>
		<input type="file" name="content_img" id="content_img" value="选择" />
		<input type="submit" value="提交"/>
	</form>
</body>
</html>