<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/avatar/B.png">
    <title>Register Bloger World</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/jumbotron.css" rel="stylesheet">
    <style>
            body{
            	text-align: center;
            }
            div label{
              float: left;
            }
            #denglu{
            	width: 100%;
            	color: white;
            	background-color: red;
            	margin-top: 20px;
            }
            #cuowukuang{
            	display: none;
            	margin-top: 20px;
            	transition: all 0.5;
            }
    </style>
</head>
<body>
	<%include header.ejs %>
	<div class="container">
		 <div class="row col-lg-6">
			<h1><%= Bigtitle %></h1>
				<h3><%= Smalltitle %></h3>
				
				<form method="post" action="">
					 <div class="form-group">
					 	<label for="user_id">登录账号 :</label>
                			<input type="text" class="form-control" id="user_id" name="user_id" placeholder="输入注册时设置的账号">
					 	</div>
					 	<div class="form-group">
					 	<label for="password">登录密码 :</label>
                			<input type="password" class="form-control" id="password" name="password" placeholder="输入注册时设置的密码">
					 	</div>
					 	 <div class="checkbox">
				                <label>
				                    <input type="checkbox"> 自动登录
				                </label>
				            </div>
					<button type="submit" id="denglu" class="btn btn-default" >登陆</button>
				</form>
			</div>
	</div>
	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/toast.js"></script>
	<script>
		$("input").focus(function(){$("#cuowukuang").fadeOut();});
	</script>
</body>
</html>